.inscricao {
    .section1 {
        .boxText1 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 22vh;
    
            h2 {
                font-size: 2.5rem;
            }
    
            p {
                font-size: 1.1rem;
            }
        }
    
        .boxCards1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 30vh;
            
            .card1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                border: solid 1px;
                border-radius: 10px;
                width: 25%;
                height: 20vh;
    
                h3 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .inscricao {
        .section1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 110vh;
    
            .boxText1 {
                height: auto;
                gap: 1rem;
                text-align: center;
    
                h2 {
                    font-size: 1.8rem;
                }
    
                p {
                    font-size: 0.9rem;
                    width: 90%;
                }
            }
    
            .boxCards1 {
                flex-direction: column;
                height: auto;
                gap: 1.2rem;
    
                .card1 {
                    width: 90%;
                    height: auto;
                    padding: 1.2rem 0;
    
                    h3 {
                    font-size: 1.2rem;
                    }
    
                    p {
                    font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 321px) and (max-width: 440px) {
    .inscricao {
        .section1 {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            .boxText1 {
                height: auto;
                gap: 1.2rem;
                text-align: center;
    
                h2 {
                    font-size: 2rem;
                }
    
                p {
                    font-size: 1rem;
                    width: 88%;
                }
            }
    
            .boxCards1 {
                flex-direction: column;
                height: auto;
                gap: 1.5rem;
    
                .card1 {
                    width: 85%;
                    height: auto;
                    padding: 1.5rem 0;
    
                    h3 {
                        font-size: 1.3rem;
                    }
    
                    p {
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 884px) {
    .inscricao {
        .section1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 40vh;
    
            .boxText1 {
                height: auto;
                gap: 1.5rem;
    
                h2 {
                    font-size: 2.2rem;
                }
    
                p {
                    font-size: 1.05rem;
                    width: 90%;
                    text-align: center;
                }
            }
    
            .boxCards1 {
                height: auto;
    
                .card1 {
                    width: 30%;
                    height: 18vh;
    
                    h3 {
                    font-size: 1.3rem;
                    }
    
                    p {
                    font-size: 0.95rem;
                    }
                }
            }
        }
    }
}

