footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--font-color);
    height: 60vh;

    .boxFooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 43vh;

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;
            height: 17vh;

            figure {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 54%;
                font-weight: 700;
            }

            .textLogo {
                width: 75%;
                font-weight: 200;
            }
        }

        .contatos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 24vh;
            width: 25%;

            figure {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 200;
            }

            .email {
                width: 78%;
            }

            .telefone {
                width: 47%;
            }

            .endereco {
                width: 49%;
            }
        }

        .redes {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 21vh;
            width: 18%;
            font-weight: 200;

            .boxRedes {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 60%;
                height: 14vh;
            }
        }
    }

    .copy {
        height: 18vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
    }
}